
.logincontainer {
  max-width: 500px;
  margin: 80px auto;
  padding: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  font-family: 'Arial', sans-serif;
  text-align: center; 
}

.logincontainer h2 {
  font-size: 26px;
  font-weight: bold;
  color: #333;
  margin-bottom: 25px;
}

.logincontainer label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #666;
  text-align: left; 
}

.logincontainer input[type="text"],
.logincontainer input[type="password"] {
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: border-color 0.3s;
}

.logincontainer input[type="text"]:focus,
.logincontainer input[type="password"]:focus {
  border-color: #b39a2a;
  outline: none;
}


.passwordWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.passwordWrapper input {
  padding-right: 40px;
}

.passwordToggleIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #666;
}

.submitButton {
  background-color: #b39a2a;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 100%; 
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #9c851e;
}

.resetPasswordButton,
.resetPasswordButton2 {
  width: 100%; 
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.resetPasswordButton {
  background-color: #007bff;
  color: #fff;
}

.resetPasswordButton:hover {
  background-color: #0056b3;
}

.resetPasswordButton2 {
  background-color: #be0039;
  color: #fff;
}

.resetPasswordButton2:hover {
  background-color: #8b002e;
}

.profilecard {
  display: flex;
  align-items: center;
  justify-content: center; 
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 15px;
  margin-top: 20px;
  text-align: center; 
}

.usericon {
  font-size: 48px;
  margin-right: 15px;
  color: #4CAF50;
}

.profileinfo {
  text-align: center;
  flex-grow: 1;
}

.profileinfo h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.profileinfo p {
  margin: 5px 0;
  color: #777;
}

.logoutButton {
  background-color: #ff5722;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: #e64a19;
}
