.project_card_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1%; 
  justify-content: space-between;
  width: 100%;
}

.project_card {
  padding: 1.5em;
  border: 1px solid #7a7a7a;
  border-radius: 8px;
  width: 24%;
  margin: 0.5%; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background-color: #f9f9f9;
}

.project_card:hover {
  transform: scale(1.02);
}

.project_card h4 {
  background-color: #222;
  color: #ffbb33;
  padding: 0.4em;
  margin-bottom: 1.3em;
  font-size: 1.4em;
  border: 2px solid #000;
  border-radius: 5px;
}

.project_card p {
  color: #34495e;
  margin-bottom: 1em;
  font-size: 1em;
}

.project_card p span {
  font-weight: bold;
}

.category_text {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}

.category_text span {
  margin-right: 5px;
}

.project_card_actions {
  margin-top: 1.2em;
  display: flex;
  align-items: center;
}

.project_card_actions a,
.project_card_actions button {
  text-decoration: none;
  border: none;
  background-color: #fff;
  color: #222;
  font-size: 0.9em;
  padding: 0.6em 1em;
  margin-right: 1em;
  cursor: pointer;
  border: 1px solid #222;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project_card_actions svg {
  margin-right: 0.5em;
  fill: #000; 
  color: #000; 
  transition: color 0.3s ease, fill 0.3s ease;
}

.project_card_actions a:hover svg,
.project_card_actions button:hover svg {
  fill: #fff; 
  color: #fff; 
}

.project_card_actions a:hover,
.project_card_actions button:hover {
  background-color: #222;
  color: #ffbb33;
}

/* Responsividade */
@media (max-width: 768px) {
  .project_card {
    width: 48%;
  }
}

@media (max-width: 480px) {
  .project_card {
    width: 100%; 
    margin: 0.5em 0;
  }
}
